.rotate { /* rotating the nyu torch loading image css */
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#loaderContainer {
  text-align: center;
}
#loaderContainer img { /* size of the loader container css */
  width:50%;
}

.form {
  width:100%;
  height: 100%;
}

table, tbody {
  width:100%;
}

.formLabel {
  font-size: 20px;
}

input[type=text], select {  /* custom styling to input text css */
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

button { /* custom styling to button text css */
  width: 100%;
  background-color: #8900e1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #57068c;
}

select {
  height: auto;
}
