.rotate { /* rotating the nyu torch loading image css */
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#loaderContainer { 
  text-align: center;
}
#loaderContainer img { /* size of the loader container css */
  width:50%;
}
