/* The following is the css styling for all of the main parts of the website except the team and form sections */

*{transition:all 0.3s ease-in-out;} /* make all transitions smooth on the site */

html {
  scroll-behavior: smooth; /* This is for when you click a nav bar item so it scrolls to the section smoothely */
}
body {
  margin: 0; /* Remove default padding */
  padding: 0;  /* Remove default padding */
  background-image: url("https://cdn.glitch.com/f3b56050-6df3-4c0c-9ae3-03b2f9393cc7%2F%20arabesque-DIGITAL-light-grey.png?v=1591247188916");
  background-repeat: repeat;  /* repeat bg image in x and y axis */
}

h1,h2,h3,h4, p { /* text styling */
  font-family: 'Playfair Display', serif;
}


.nav-container{
  z-index: 2;  /* place the nav container always ABOVE the video */
  background: #57068C;
  width:100%;
  height: 74px;
  position: -webkit-sticky; /* Safari */
  position: sticky;  /* Keep the header stuck to the top */
  top: 0;
}

nav{
  margin-right: 100px;
  float:right;  /* Make nav items float to the right end */
}

.logo img{  /* nyuad logo */
  float:left;
  height: 74px; /* height of logo so the width will be auto  */
}

ul {
  list-style-type: none;  /* Remove default styling dot of lists in html */
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
   float: left;
}

li  a {  /* link items in nav bar */
  display: block;
  color: white;
  text-align: center;
  padding: 23.5px 16px; /* padding for the item after numerous tests */
  text-decoration: none;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
}

li a:hover {  /* change link item bg to a dark grey on hover */
  background-color: #111;
}

.mainTextHeader { /* The main text header on the site */
  padding-top: 30px; /* keep some space on top */
  text-align:center; /* align it to the center */
  font-size:50px;
}

hr.dashed { /* Dashed line after first header */
  border-top: 1px dashed #bbb;
  margin-bottom: 30px;
}

.body-content { /* All the body content will be in a div that is smaller than the width of the screen and will be centered */
  margin-left: 100px;
  margin-right: 100px;
  margin-top:10px;
  background-color: rgba(255, 255, 255, 0.9);  /* white with a tiny bit of transparency */
  padding:10px;
}

    .row {
  display: flex;  /* flex to control the size of the cols */
}

.col {
  flex: 50%;  /* half the width */
  padding: 10px;
  height: 400px;
}


.left { /* class to position the item on the left */
  position: relative;
  width: 50%;
  float: left;
   padding: 15px;
}

.center { /* class to position the item on the center */
  display: flex;
  justify-content: center;
}

.right { /* class to position the item on the right */
  position: relative;
  margin-left: 50%; /* Change this to whatever the width of your left column is*/
}

.video-container { /* container of the video player */
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0;
  overflow: hidden;
}

.video-container iframe, video, .video-container object, .video-container embed {  /* video container code edited from w3schools */
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  border-radius: 22px;
  background: black;
 }

.clear{
  clear: both;
}

.person-description {
  padding:50px;
}


.spacer {
height:50px;
}
/* following quote code was taken and edited myself from https://codepen.io/cliftwalker/pen/XJaEXY*/
.blockquoteHolder { /* added this parent to the blockquote to add a background image*/
  position: relative;
  background-image: url(../assets/big_bg.jpg);
  background-repeat: none;
  width:100%;
  height:500px;
}

blockquote{ /* blockquote css code */
  position: absolute;
  top: 120px;
  font-size: 1.4em; /* responsive font size */
  width:60%;
  border-radius: 25px; /* rounded corners */
  margin:auto;
  font-family: 'Playfair Display', serif;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #007c70 ; /* set only the left border to be visible and of a specific style n color */
  line-height:1.6;
  position: relative;
  background:rgb(237, 237, 237,0.9);
}

blockquote::before{ /* Add the double quotation mark before the text hence the ::before */
  font-family: 'Playfair Display', serif;
  content: "\201C"; /* unicode for double quotation mark -> " */
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{ /* The content after is empty and defined in the html */
  content: '';
}

blockquote span{/* The name of the person who I'm quoting (dean fyle karley) */
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}


.footer { /* footer styling */
  position: absolute;
  width: 100%;
  background: #57068C;
  color: white;
  text-align: center;
}
