/* The following css styles are for the Team or "Tour Guide" section of the webpage

 Some of the styles below were taken from and heavily changed for my page from the tutorial: https://www.youtube.com/watch?v=R3MQgUzUd6I */


.wrapper{ /* container of the team section */
  margin-top: 5px;
  text-align: center;
}

.wrapper h1{ /* team section header text */
  font-size: 48px;
  color: #fff;
  margin-bottom: 25px;
  font-family: 'Playfair Display', serif;
}

.our_team{ /* the container for the rows of team members */
  width: auto;
  display: flex; /* flex for the horizontal rows */
  justify-content: center;
  flex-wrap: wrap;
}

.our_team .team_member{ /* container of each team member's info and image */
  width: 250px; /* constant width */
  margin: 5px;
  background: #fff;
  padding: 20px 10px;
}

.our_team .team_member .member_img{ /* holder for image and member items */

  max-width: 190px;
  width: 275px;
  height: 275px;
  margin: 0 auto;
  padding: 5px;
  position: relative;
}

.our_team .team_member .member_img img{ /* image for each team member */
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover; /* cool property that I added that allows the images to be "cropped" so that they are all the same size and not "scaled"  */
}

.member_img > img {
  border:5px solid #6d6d6d ;
}

.our_team .team_member h3{ /* name for each member */
  text-transform: uppercase; /* set to upper case by default */
  font-size: 22px;
  line-height: 18px;
  letter-spacing: 2px; /* set letter spacing */
  margin: 15px 0 0px;
  font-family: 'Playfair Display', serif;
}

.our_team .team_member span{
  font-size: 10px;
}

.our_team .team_member p{ /* the description for each team member */
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Playfair Display', serif;
}

.our_team .team_member .member_img .social_media{ /* the social media item on hover styling */
  position: absolute;
  top: 5px;
  left: 5px;
  border:5px solid #8900e1 ;
  border-radius: 25px; /* curved border */
  background: rgba(0,0,0,0.25);  /* black bg with 0.25 opacity  */
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0); /* animation  */
   transition: all 0.5s ease;
}

.our_team .team_member .member_img .social_media .item{
  margin: 0 10px;
}


.fb_icon { /* custom style to set the color of the fb image  */
  width: 50px !important; /* important cus the property overides the default one  */
}

.fb_icon:hover { /* custom style to set the color of the fb image on hover  */
  width: 75px !important;  /* increasing the size when hovering cus then its emphasized that this item is clickable  */
}


.our_team .team_member .member_img:hover .social_media{
  transform: scale(1);
}
